.login-container{
    padding:16px;
    margin:auto;
   // border-radius: 8px;;
    .login-header{
        display:flex;
        align-items: center;
        justify-content: space-between;
        .login-icon{
            height:32px;
            width:32px;
        }
    }
    .username,.password{
        border:none;
        border-radius: 8px;
        outline:none;
        padding:4px;
        height:24px;
        width:90%;
        margin-top: 8px;
        &:hover{
            
            border:none;
        }
    }
    .login-submit{
        margin-top: 8px;
        background-color:green;
        padding-top:8px;
        padding-bottom:8px;
        height:24px;
        width:93%;
        border:none;
        border-radius: 8px;
        outline:none;
    }
    .login-footer{
        justify-content: center;
        .signup-link:hover{
           cursor:default;
        }
        a{
            text-decoration: none;
            color:white;
        }
    }
}
